In [ ]:
# ev_fiyatlari.ipynb
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
veri = pd.read_csv("istanbul-ev-fiyatlari.csv")
veri.head(5)

In [ ]:
veri.info()

In [ ]:
veri.columns

In [ ]:
veri_ham=veri.copy()

In [ ]:
veri = veri.drop(columns=['Unnamed: 0','AdUpdateDate'])

In [ ]:
veri.info()

In [ ]:
veri.columns

In [ ]:
veri=veri.rename(columns={
    'district':"ilce", 
    'price':"fiyat", 
    'GrossSquareMeters':"brutm2", 
    'BuildingAge':"yas",
    'NumberFloorsofBuilding':"kat_sayisi", 
    'NumberOfRooms':"oda_sayisi",
    'FloorLocation':"kat",
    'CreditEligibility':"kredi",
    'NetSquareMeters':"netm2", 
    'kategori':"tip"
})

In [ ]:
veri.head(5)

In [ ]:
veri["ilce"].unique()

In [ ]:
veri["ilce"].value_counts()

In [ ]:
veri["kredi"].value_counts()

In [ ]:
veri["kredi"]=veri["kredi"].str.replace("Krediye Uygun Değil","değil")
veri["kredi"]=veri["kredi"].str.replace("Krediye Uygun","uygun")
veri["kredi"]=veri["kredi"].str.lower()
veri["kredi"].value_counts()

In [ ]:
veri.groupby("ilce")["fiyat"].mean()

In [70]:
uskudar_ev=veri[(veri["ilce"]=="uskudar") & (veri["fiyat"]<10_000_000)]
uskudar_ev.head(5)

,ilce,fiyat,brutm2,yas,kat_sayisi,oda_sayisi,kat,kredi,netm2,tip
24347,uskudar,2350000.0,170.0,5,2,4+1,2. Kat,uygun,150.0,Daire
24348,uskudar,750000.0,80.0,21,4,2+1,4. Kat,uygun,75.0,Daire
24350,uskudar,1625000.0,110.0,0,4,2+2,Bahçe Dublex,uygun,100.0,Daire
24351,uskudar,1950000.0,140.0,5,5,3+1,1. Kat,uygun,130.0,Daire
24352,uskudar,1085000.0,110.0,21,5,2+1,Yüksek Giriş,uygun,90.0,Daire

In [ ]:
sns.histplot(data=uskudar_ev,x="yas",bins=5,color="skyblue")
plt.show()

In [ ]:
veri["fiyat"]=veri["fiyat"].astype("float64")
sns.histplot(data=uskudar_ev,x="fiyat",bins=10,color="skyblue")
plt.show()

In [74]:
veri.to_csv("istanbul_ev_fiyat_son.csv")