In [80]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [81]:
veri=pd.read_csv("vm_dosyalar/istanbul-ev-fiyatlari.csv")
veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25155 entries, 0 to 25154
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              25155 non-null  int64
 1   district                25155 non-null  object
 2   price                   25155 non-null  int64
 3   AdUpdateDate            25155 non-null  object
 4   GrossSquareMeters       25155 non-null  float64
 5   BuildingAge             25155 non-null  int64
 6   NumberFloorsofBuilding  25155 non-null  int64
 7   NumberOfRooms           25155 non-null  object
 8   FloorLocation           25155 non-null  object
 9   CreditEligibility       25155 non-null  object
 10  NetSquareMeters         25155 non-null  float64
 11  kategori                25155 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.3+ MB

In [82]:
veri.head(3)

,Unnamed: 0,district,price,AdUpdateDate,GrossSquareMeters,BuildingAge,NumberFloorsofBuilding,NumberOfRooms,FloorLocation,CreditEligibility,NetSquareMeters,kategori
0,0,adalar,3100000,24 Şubat 2022,160.0,21,3,3+1,Çatı Katı,Krediye Uygun,120.0,Daire
1,1,adalar,1600000,02 Mart 2022,120.0,5,3,2+1,Bahçe Katı,Krediye Uygun,100.0,Daire
2,2,adalar,18500000,11 Şubat 2022,350.0,21,2,3+1,Düz Giriş,Krediye Uygun,300.0,Müstakil Ev

In [83]:
veri.columns

Index(['Unnamed: 0', 'district', 'price', 'AdUpdateDate', 'GrossSquareMeters',
       'BuildingAge', 'NumberFloorsofBuilding', 'NumberOfRooms',
       'FloorLocation', 'CreditEligibility', 'NetSquareMeters', 'kategori'],
      dtype='object')

In [84]:
veri=veri.drop(columns=['Unnamed: 0','AdUpdateDate'])
veri.head()

,district,price,GrossSquareMeters,BuildingAge,NumberFloorsofBuilding,NumberOfRooms,FloorLocation,CreditEligibility,NetSquareMeters,kategori
0,adalar,3100000,160.0,21,3,3+1,Çatı Katı,Krediye Uygun,120.0,Daire
1,adalar,1600000,120.0,5,3,2+1,Bahçe Katı,Krediye Uygun,100.0,Daire
2,adalar,18500000,350.0,21,2,3+1,Düz Giriş,Krediye Uygun,300.0,Müstakil Ev
3,adalar,9500000,550.0,11,3,8+ Oda,Düz Giriş,Krediye Uygun Değil,540.0,Bina
4,adalar,25000000,840.0,21,4,8+ Oda,Düz Giriş,Krediye Uygun,700.0,Köşk

In [85]:
veri.columns

Index(['district', 'price', 'GrossSquareMeters', 'BuildingAge',
       'NumberFloorsofBuilding', 'NumberOfRooms', 'FloorLocation',
       'CreditEligibility', 'NetSquareMeters', 'kategori'],
      dtype='object')

In [86]:
veri.rename(columns={
      'district':"ilce", 
      'price':"fiyat", 
      'GrossSquareMeters':"brutm2", 
      'BuildingAge':"yas",
       'NumberFloorsofBuilding':"kat_sayisi", 
       'NumberOfRooms':"oda_sayi", 
       'FloorLocation':"kat",
       'CreditEligibility':"kredi", 
       'NetSquareMeters':"netm2", 
       'kategori':"tip"  
},inplace=True)

In [87]:
veri.head(3)

,ilce,fiyat,brutm2,yas,kat_sayisi,oda_sayi,kat,kredi,netm2,tip
0,adalar,3100000,160.0,21,3,3+1,Çatı Katı,Krediye Uygun,120.0,Daire
1,adalar,1600000,120.0,5,3,2+1,Bahçe Katı,Krediye Uygun,100.0,Daire
2,adalar,18500000,350.0,21,2,3+1,Düz Giriş,Krediye Uygun,300.0,Müstakil Ev

In [88]:
veri["ilce"]

0             adalar
1             adalar
2             adalar
3             adalar
4             adalar
            ...
25150    zeytinburnu
25151    zeytinburnu
25152    zeytinburnu
25153    zeytinburnu
25154    zeytinburnu
Name: ilce, Length: 25155, dtype: object

In [89]:
veri["ilce"].unique()

array(['adalar', 'arnavutkoy', 'atasehir', 'avcilar', 'bagcilar',
       'bahcelievler', 'bakirkoy', 'basaksehir', 'bayrampasa', 'besiktas',
       'beykoz', 'beylikduzu', 'beyoglu', 'buyukcekmece', 'catalca',
       'cekmekoy', 'esenler', 'esenyurt', 'eyupsultan', 'fatih',
       'gaziosmanpasa', 'gungoren', 'kadikoy', 'kagithane', 'kartal',
       'kucukcekmece', 'maltepe', 'pendik', 'sancaktepe', 'sariyer',
       'sile', 'silivri', 'sisli', 'sultanbeyli', 'sultangazi', 'tuzla',
       'umraniye', 'uskudar', 'zeytinburnu'], dtype=object)

In [90]:
veri["ilce"].value_counts()

ilce
sariyer          1449
kadikoy          1446
bahcelievler     1429
esenyurt         1415
kucukcekmece     1361
maltepe          1230
sultangazi       1000
avcilar           933
cekmekoy          923
sancaktepe        918
beylikduzu        888
buyukcekmece      756
kagithane         756
gaziosmanpasa     709
umraniye          690
pendik            678
bakirkoy          673
basaksehir        671
besiktas          659
eyupsultan        635
kartal            619
uskudar           618
sisli             595
bagcilar          522
fatih             488
tuzla             382
atasehir          378
silivri           342
sultanbeyli       314
esenler           265
arnavutkoy        256
beyoglu           228
gungoren          221
zeytinburnu       191
bayrampasa        174
beykoz            148
sile               95
catalca            74
adalar             26
Name: count, dtype: int64

In [91]:
veri["kredi"].value_counts()

kredi
Krediye Uygun          22197
Krediye Uygun Değil     2568
Bilinmiyor               390
Name: count, dtype: int64

In [92]:
# sarıyer de krediye uygun evler
s1=veri[(veri["ilce"]=="sariyer")&(veri["kredi"]=="Krediye Uygun")&(veri["fiyat"]<=1_000_000)]
s1

,ilce,fiyat,brutm2,yas,kat_sayisi,oda_sayi,kat,kredi,netm2,tip
20202,sariyer,970000,64.0,5,10,1+1,5. Kat,Krediye Uygun,49.0,Daire
20227,sariyer,760000,95.0,16,3,2+1,2. Kat,Krediye Uygun,85.0,Daire
20276,sariyer,35000,600.0,0,2,7+2,Bahçe Katı,Krediye Uygun,570.0,Villa
20503,sariyer,35000,600.0,0,2,7+2,Bahçe Katı,Krediye Uygun,570.0,Villa

In [93]:
veri["kat"].unique()

array(['Çatı Katı', 'Bahçe Katı', 'Düz Giriş', 'Bahçe Dublex',
       'Villa Tipi', '1. Kat', 'Müstakil', '3. Kat', '2. Kat',
       'Çatı Dubleks', 'Yüksek Giriş', '5. Kat', '4. Kat', '7. Kat',
       'Kot 2 (-2). Kat', 'Kot 3 (-3). Kat', '8. Kat', '6. Kat',
       'Kot 1 (-1). Kat', '10. Kat', '32. Kat', '13. Kat', '14. Kat',
       '22. Kat', '16. Kat', '19. Kat', '9. Kat', '28. Kat', '15. Kat',
       '30-40. Kat', '12. Kat', 'Tam Bodrum', '11. Kat', '23. Kat',
       'Yarı Bodrum', '18. Kat', '33. Kat', '10-20. Kat', '21. Kat',
       '17. Kat', '26. Kat', '27. Kat', '20. Kat', '29. Kat', '25. Kat',
       '24. Kat', '31. Kat', 'Yüksek Bodrum', '20-30. Kat', '30. Kat',
       '36. Kat', '38. Kat', '34. Kat', '40+. Kat', '35. Kat'],
      dtype=object)

In [94]:
veri["kat"]=veri["kat"].str.lower()
veri["kat"].value_counts()

kat
2. kat             2908
1. kat             2904
3. kat             2819
4. kat             2595
düz giriş          1893
bahçe katı         1826
5. kat             1760
yüksek giriş       1585
6. kat              776
çatı dubleks        744
7. kat              553
8. kat              505
10. kat             428
müstakil            402
9. kat              344
villa tipi          307
çatı katı           296
11. kat             240
12. kat             216
kot 1 (-1). kat     185
13. kat             176
14. kat             175
bahçe dublex        157
15. kat             155
16. kat             133
21. kat             107
30-40. kat           99
kot 2 (-2). kat      98
17. kat              81
20. kat              76
19. kat              67
18. kat              65
kot 3 (-3). kat      48
22. kat              42
tam bodrum           38
26. kat              38
23. kat              37
10-20. kat           36
20-30. kat           34
yarı bodrum          31
yüksek bodrum        29
25. kat              28
24. kat              28
30. kat              22
28. kat              20
27. kat              19
29. kat               9
33. kat               6
31. kat               3
32. kat               3
40+. kat              3
34. kat               2
35. kat               2
36. kat               1
38. kat               1
Name: count, dtype: int64

In [95]:
veri["kat"]=veri["kat"].str.replace("katı","")
veri["kat"]=veri["kat"].str.replace("kat","")
veri["kat"]=veri["kat"].str.replace(" ","")
veri["kat"].unique()

array(['çatı', 'bahçe', 'düzgiriş', 'bahçedublex', 'villatipi', '1.',
       'müstakil', '3.', '2.', 'çatıdubleks', 'yüksekgiriş', '5.', '4.',
       '7.', 'kot2(-2).', 'kot3(-3).', '8.', '6.', 'kot1(-1).', '10.',
       '32.', '13.', '14.', '22.', '16.', '19.', '9.', '28.', '15.',
       '30-40.', '12.', 'tambodrum', '11.', '23.', 'yarıbodrum', '18.',
       '33.', '10-20.', '21.', '17.', '26.', '27.', '20.', '29.', '25.',
       '24.', '31.', 'yüksekbodrum', '20-30.', '30.', '36.', '38.', '34.',
       '40+.', '35.'], dtype=object)

In [96]:
veri.groupby("ilce")["fiyat"].mean()

ilce
adalar           8.095577e+06
arnavutkoy       1.254828e+06
atasehir         5.717714e+06
avcilar          1.488564e+06
bagcilar         6.197389e+06
bahcelievler     1.448017e+06
bakirkoy         6.684624e+06
basaksehir       2.457375e+06
bayrampasa       2.653253e+06
besiktas         2.263455e+07
beykoz           3.061407e+07
beylikduzu       3.099571e+06
beyoglu          4.765056e+06
buyukcekmece     4.287714e+06
catalca          5.096489e+06
cekmekoy         1.715376e+06
esenler          8.591019e+05
esenyurt         8.012613e+05
eyupsultan       2.074624e+06
fatih            2.785632e+06
gaziosmanpasa    1.324071e+06
gungoren         1.457787e+06
kadikoy          5.466239e+06
kagithane        3.803393e+06
kartal           2.797948e+07
kucukcekmece     1.415696e+06
maltepe          2.210909e+06
pendik           1.432552e+06
sancaktepe       1.283540e+06
sariyer          1.341739e+07
sile             2.570215e+07
silivri          9.223424e+06
sisli            8.784342e+06
sultanbeyli      1.091632e+06
sultangazi       8.784640e+05
tuzla            1.949194e+06
umraniye         1.709095e+06
uskudar          1.032212e+07
zeytinburnu      5.197288e+06
Name: fiyat, dtype: float64

In [97]:
len(veri["oda_sayi"].unique())

27

In [98]:
veri["oda_sayi"].unique()

array(['3+1', '2+1', '8+ Oda', '3+2', '5+1', '5 Oda', '2+2', '7+3', '1+1',
       '5+3', '1 Oda', '6+1', '4+2', '5+2', '4+1', '6+2', '6+3', '2.5+1',
       'Stüdyo', '6+4', '7+1', '1.5+1', '2+0', '7+2', '3.5+1', '4.5+1',
       '5+4'], dtype=object)

In [99]:
def oda_duzenle(a):
    s={
        '3+1':4, 
        '2+1':3,         
        '3+2':5, 
        '5+1':6,
        '8+ Oda':8,
        '5 Oda':5,
        '2+2':4, 
        '7+3':10, 
        '1+1':2,
       '5+3':8, 
       '1 Oda':1,
       '6+1':7, 
       '4+2':6, 
       '5+2':7, 
       '4+1':5, 
       '6+2':8, 
       '6+3':9, 
       '2.5+1':3.5,
       'Stüdyo':1, 
       '6+4':10, 
       '7+1':8, 
       '1.5+1':2.5,
       '2+0':2, 
       '7+2':9, 
       '3.5+1':4.5, 
       '4.5+1':5.5,
       '5+4':9
        
    }
    return s.get(a)
veri["oda_sayi"]=veri["oda_sayi"].apply(oda_duzenle)
veri["oda_sayi"].unique()

In [100]:
veri["oda_sayi"]=veri["oda_sayi"].apply(oda_duzenle)
veri["oda_sayi"].unique()

array([ 4. ,  3. ,  8. ,  5. ,  6. , 10. ,  2. ,  1. ,  7. ,  9. ,  3.5,
        2.5,  4.5,  5.5])

In [101]:
veri["oda_sayi"].dtype

dtype('float64')

In [102]:
veri.head(3)

,ilce,fiyat,brutm2,yas,kat_sayisi,oda_sayi,kat,kredi,netm2,tip
0,adalar,3100000,160.0,21,3,4.0,çatı,Krediye Uygun,120.0,Daire
1,adalar,1600000,120.0,5,3,3.0,bahçe,Krediye Uygun,100.0,Daire
2,adalar,18500000,350.0,21,2,4.0,düzgiriş,Krediye Uygun,300.0,Müstakil Ev

In [106]:
veri.to_csv("ev_fiyatlari2.csv",index=False)