In [1]:
import pandas as pd

In [2]:
veri_ham = pd.read_csv("vm_dosyalar/kalp_rahatsizligi.csv")
veri_ham.head(3)

,yas,cinsiyet,gogus_agrisi_tipi,hareketsiz_kan_basinci,serum_kolestrol,aclik_kan_sekeri,elektrokardiyografi,en_yuksek_kalp_hizi,anjin_bagli_egsersiz,st_depresyonu,st_egimi,buyuk_damarlar,talasemi,kalp_rahatsizligi
0,63.0,erkek,tipik anjinal,145.0,233.0,1,sol ventikuler hipertrofi,150.0,0,2.3,asagi egimli,0.0,sabit defekt,0
1,67.0,erkek,asemptomatik,160.0,286.0,0,sol ventikuler hipertrofi,108.0,1,1.5,duz,3.0,normal,1
2,67.0,erkek,asemptomatik,120.0,229.0,0,sol ventikuler hipertrofi,129.0,1,2.6,duz,2.0,tersinir defekt,1

In [3]:
veri_ham.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   yas                     303 non-null    float64
 1   cinsiyet                303 non-null    object
 2   gogus_agrisi_tipi       303 non-null    object
 3   hareketsiz_kan_basinci  303 non-null    float64
 4   serum_kolestrol         303 non-null    float64
 5   aclik_kan_sekeri        303 non-null    int64
 6   elektrokardiyografi     303 non-null    object
 7   en_yuksek_kalp_hizi     303 non-null    float64
 8   anjin_bagli_egsersiz    303 non-null    int64
 9   st_depresyonu           303 non-null    float64
 10  st_egimi                303 non-null    object
 11  buyuk_damarlar          299 non-null    float64
 12  talasemi                301 non-null    object
 13  kalp_rahatsizligi       303 non-null    int64
dtypes: float64(6), int64(3), object(5)
memory usage: 33.3+ KB

In [4]:
veri=veri_ham.copy()

In [5]:
#dropna(değeri olmayanı at)
#axis eksen(0:satırlari,1:sütunlar)
veri2=veri.dropna(axis=1)#boş veri olan sütunlar atıldı.
veri2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   yas                     303 non-null    float64
 1   cinsiyet                303 non-null    object
 2   gogus_agrisi_tipi       303 non-null    object
 3   hareketsiz_kan_basinci  303 non-null    float64
 4   serum_kolestrol         303 non-null    float64
 5   aclik_kan_sekeri        303 non-null    int64
 6   elektrokardiyografi     303 non-null    object
 7   en_yuksek_kalp_hizi     303 non-null    float64
 8   anjin_bagli_egsersiz    303 non-null    int64
 9   st_depresyonu           303 non-null    float64
 10  st_egimi                303 non-null    object
 11  kalp_rahatsizligi       303 non-null    int64
dtypes: float64(5), int64(3), object(4)
memory usage: 28.5+ KB

In [6]:
veri3=veri.dropna(axis=0)
veri3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 297 entries, 0 to 301
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   yas                     297 non-null    float64
 1   cinsiyet                297 non-null    object
 2   gogus_agrisi_tipi       297 non-null    object
 3   hareketsiz_kan_basinci  297 non-null    float64
 4   serum_kolestrol         297 non-null    float64
 5   aclik_kan_sekeri        297 non-null    int64
 6   elektrokardiyografi     297 non-null    object
 7   en_yuksek_kalp_hizi     297 non-null    float64
 8   anjin_bagli_egsersiz    297 non-null    int64
 9   st_depresyonu           297 non-null    float64
 10  st_egimi                297 non-null    object
 11  buyuk_damarlar          297 non-null    float64
 12  talasemi                297 non-null    object
 13  kalp_rahatsizligi       297 non-null    int64
dtypes: float64(6), int64(3), object(5)
memory usage: 34.8+ KB

In [7]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import minmax_scale
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [8]:
# eksik veri problemininin yerine değer atanarak giderilmesi
imp_sayisal=SimpleImputer(missing_values=np.nan,strategy="median")
imp_kategorik=SimpleImputer(missing_values=np.nan,strategy="most_frequent")

In [9]:
veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   yas                     303 non-null    float64
 1   cinsiyet                303 non-null    object
 2   gogus_agrisi_tipi       303 non-null    object
 3   hareketsiz_kan_basinci  303 non-null    float64
 4   serum_kolestrol         303 non-null    float64
 5   aclik_kan_sekeri        303 non-null    int64
 6   elektrokardiyografi     303 non-null    object
 7   en_yuksek_kalp_hizi     303 non-null    float64
 8   anjin_bagli_egsersiz    303 non-null    int64
 9   st_depresyonu           303 non-null    float64
 10  st_egimi                303 non-null    object
 11  buyuk_damarlar          299 non-null    float64
 12  talasemi                301 non-null    object
 13  kalp_rahatsizligi       303 non-null    int64
dtypes: float64(6), int64(3), object(5)
memory usage: 33.3+ KB

In [15]:
bd=veri["buyuk_damarlar"].values.reshape(-1,1)
tal=veri["talasemi"].values.reshape(-1,1)

veri["buyuk_damarlar"]=imp_sayisal.fit_transform(bd)
veri["talasemi"]=imp_kategorik.fit_transform(tal)

ValueError: 2

In [12]:
veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   yas                     303 non-null    float64
 1   cinsiyet                303 non-null    object
 2   gogus_agrisi_tipi       303 non-null    object
 3   hareketsiz_kan_basinci  303 non-null    float64
 4   serum_kolestrol         303 non-null    float64
 5   aclik_kan_sekeri        303 non-null    int64
 6   elektrokardiyografi     303 non-null    object
 7   en_yuksek_kalp_hizi     303 non-null    float64
 8   anjin_bagli_egsersiz    303 non-null    int64
 9   st_depresyonu           303 non-null    float64
 10  st_egimi                303 non-null    object
 11  buyuk_damarlar          303 non-null    float64
 12  talasemi                301 non-null    category
 13  kalp_rahatsizligi       303 non-null    int64
dtypes: category(1), float64(6), int64(3), object(4)
memory usage: 31.3+ KB