In [ ]:
# regresyon_duz_ysa.ipynb

In [1]:
import pandas as pd
import numpy as np

In [11]:
veri = pd.read_csv("regresyon_veri2.csv")
veri.head(5)

   ozellik1  ozellik2  sinif-hedef
0        10         5           38
1        20        30           93
2         3         2           14
3         5         8           26
4         7        10           34

In [12]:
ort=veri.mean()
std =veri.std()
veri = (veri-ort)/std

veri.head(5)

   ozellik1  ozellik2  sinif-hedef
0 -0.706900 -0.829696    -0.811129
1 -0.372826 -0.091532    -0.323991
2 -0.940752 -0.918275    -1.023698
3 -0.873937 -0.741116    -0.917414
4 -0.807122 -0.682063    -0.846557

In [13]:
X = veri.iloc[:,:-1].values # tensör veya matris
y = veri.iloc[:,-1].values # vektör

In [15]:
import tensorflow as tf
from keras import layers,models,optimizers
from keras.callbacks import ModelCheckpoint

In [16]:
ysa = models.Sequential()
ysa.add(layers.Dense(3,input_shape=(2,),activation="relu"))
ysa.add(layers.Dense(2,activation="relu"))
ysa.add(layers.Dense(1)) # activation function eklenmiyor çünkü sayı tahmini yapılacak
ysa.compile(optimizer="rmsprop",loss="mse",metrics=["mae"])

#callback eklenecek 28.11.2023

2023-11-21 19:58:16.351523: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:894] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA node zero. See more at https://github.com/torvalds/linux/blob/v6.0/Documentation/ABI/testing/sysfs-bus-pci#L344-L355
2023-11-21 19:58:16.352078: W tensorflow/core/common_runtime/gpu/gpu_device.cc:2211] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [ ]:
print(ysa.summary())

In [18]:
kayit = ysa.fit(X,y,epochs=10,validation_split=0.2)

Epoch 1/10
2/2 [==============================] - 0s 89ms/step - loss: 1.1885 - mae: 0.9209 - val_loss: 0.4672 - val_mae: 0.6448
Epoch 2/10
2/2 [==============================] - 0s 15ms/step - loss: 1.1809 - mae: 0.9146 - val_loss: 0.4573 - val_mae: 0.6379
Epoch 3/10
2/2 [==============================] - 0s 15ms/step - loss: 1.1776 - mae: 0.9119 - val_loss: 0.4405 - val_mae: 0.6265
Epoch 4/10
2/2 [==============================] - 0s 15ms/step - loss: 1.1735 - mae: 0.9074 - val_loss: 0.4277 - val_mae: 0.6176
Epoch 5/10
2/2 [==============================] - 0s 14ms/step - loss: 1.1701 - mae: 0.9037 - val_loss: 0.4168 - val_mae: 0.6097
Epoch 6/10
2/2 [==============================] - 0s 15ms/step - loss: 1.1674 - mae: 0.9007 - val_loss: 0.4078 - val_mae: 0.6029
Epoch 7/10
2/2 [==============================] - 0s 16ms/step - loss: 1.1651 - mae: 0.8983 - val_loss: 0.3950 - val_mae: 0.5934
Epoch 8/10
2/2 [==============================] - 0s 14ms/step - loss: 1.1628 - mae: 0.8952 - val_loss: 0.3891 - val_mae: 0.5891
Epoch 9/10
2/2 [==============================] - 0s 16ms/step - loss: 1.1616 - mae: 0.8932 - val_loss: 0.3804 - val_mae: 0.5825
Epoch 10/10
2/2 [==============================] - 0s 15ms/step - loss: 1.1602 - mae: 0.8908 - val_loss: 0.3750 - val_mae: 0.5779