In [103]:
# istanbul_ev_fiyatlari.ipynb
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [104]:
veri= pd.read_csv("istanbul-ev-fiyatlari.csv")
veri.head(5)

,Unnamed: 0,district,price,AdUpdateDate,GrossSquareMeters,BuildingAge,NumberFloorsofBuilding,NumberOfRooms,FloorLocation,CreditEligibility,NetSquareMeters,kategori
0,0,adalar,3100000,24 Şubat 2022,160.0,21,3,3+1,Çatı Katı,Krediye Uygun,120.0,Daire
1,1,adalar,1600000,02 Mart 2022,120.0,5,3,2+1,Bahçe Katı,Krediye Uygun,100.0,Daire
2,2,adalar,18500000,11 Şubat 2022,350.0,21,2,3+1,Düz Giriş,Krediye Uygun,300.0,Müstakil Ev
3,3,adalar,9500000,11 Şubat 2022,550.0,11,3,8+ Oda,Düz Giriş,Krediye Uygun Değil,540.0,Bina
4,4,adalar,25000000,19 Ocak 2022,840.0,21,4,8+ Oda,Düz Giriş,Krediye Uygun,700.0,Köşk

In [105]:
veri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25155 entries, 0 to 25154
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              25155 non-null  int64
 1   district                25155 non-null  object
 2   price                   25155 non-null  int64
 3   AdUpdateDate            25155 non-null  object
 4   GrossSquareMeters       25155 non-null  float64
 5   BuildingAge             25155 non-null  int64
 6   NumberFloorsofBuilding  25155 non-null  int64
 7   NumberOfRooms           25155 non-null  object
 8   FloorLocation           25155 non-null  object
 9   CreditEligibility       25155 non-null  object
 10  NetSquareMeters         25155 non-null  float64
 11  kategori                25155 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.3+ MB

In [106]:
veri.columns

Index(['Unnamed: 0', 'district', 'price', 'AdUpdateDate', 'GrossSquareMeters',
       'BuildingAge', 'NumberFloorsofBuilding', 'NumberOfRooms',
       'FloorLocation', 'CreditEligibility', 'NetSquareMeters', 'kategori'],
      dtype='object')

In [107]:
veri_ham=veri.copy()

In [108]:
veri.drop(columns=['Unnamed: 0'],inplace=True)
veri.head(5)

,district,price,AdUpdateDate,GrossSquareMeters,BuildingAge,NumberFloorsofBuilding,NumberOfRooms,FloorLocation,CreditEligibility,NetSquareMeters,kategori
0,adalar,3100000,24 Şubat 2022,160.0,21,3,3+1,Çatı Katı,Krediye Uygun,120.0,Daire
1,adalar,1600000,02 Mart 2022,120.0,5,3,2+1,Bahçe Katı,Krediye Uygun,100.0,Daire
2,adalar,18500000,11 Şubat 2022,350.0,21,2,3+1,Düz Giriş,Krediye Uygun,300.0,Müstakil Ev
3,adalar,9500000,11 Şubat 2022,550.0,11,3,8+ Oda,Düz Giriş,Krediye Uygun Değil,540.0,Bina
4,adalar,25000000,19 Ocak 2022,840.0,21,4,8+ Oda,Düz Giriş,Krediye Uygun,700.0,Köşk

In [109]:
veri.columns

Index(['district', 'price', 'AdUpdateDate', 'GrossSquareMeters', 'BuildingAge',
       'NumberFloorsofBuilding', 'NumberOfRooms', 'FloorLocation',
       'CreditEligibility', 'NetSquareMeters', 'kategori'],
      dtype='object')

In [110]:
veri.rename(columns={
   'district':"ilce", 
   'price':"fiyat", 
   'AdUpdateDate':"tarih",
   'GrossSquareMeters':"alan1", 
   'BuildingAge':"yas",
    'NumberFloorsofBuilding':"kat_sayisi", 
    'NumberOfRooms':"oda_sayisi", 
    'FloorLocation':"kacinci_kat",
    'CreditEligibility':"kredi", 
    'NetSquareMeters':"netm2",
    'kategori':"tip"
},inplace=True)
veri.columns

Index(['ilce', 'fiyat', 'tarih', 'alan1', 'yas', 'kat_sayisi', 'oda_sayisi',
       'kacinci_kat', 'kredi', 'netm2', 'tip'],
      dtype='object')

In [111]:
print(veri["ilce"].unique())
print(len(veri["ilce"].unique()))

['adalar' 'arnavutkoy' 'atasehir' 'avcilar' 'bagcilar' 'bahcelievler'
 'bakirkoy' 'basaksehir' 'bayrampasa' 'besiktas' 'beykoz' 'beylikduzu'
 'beyoglu' 'buyukcekmece' 'catalca' 'cekmekoy' 'esenler' 'esenyurt'
 'eyupsultan' 'fatih' 'gaziosmanpasa' 'gungoren' 'kadikoy' 'kagithane'
 'kartal' 'kucukcekmece' 'maltepe' 'pendik' 'sancaktepe' 'sariyer' 'sile'
 'silivri' 'sisli' 'sultanbeyli' 'sultangazi' 'tuzla' 'umraniye' 'uskudar'
 'zeytinburnu']
39

In [112]:
veri["ilce"].value_counts()

ilce
sariyer          1449
kadikoy          1446
bahcelievler     1429
esenyurt         1415
kucukcekmece     1361
maltepe          1230
sultangazi       1000
avcilar           933
cekmekoy          923
sancaktepe        918
beylikduzu        888
buyukcekmece      756
kagithane         756
gaziosmanpasa     709
umraniye          690
pendik            678
bakirkoy          673
basaksehir        671
besiktas          659
eyupsultan        635
kartal            619
uskudar           618
sisli             595
bagcilar          522
fatih             488
tuzla             382
atasehir          378
silivri           342
sultanbeyli       314
esenler           265
arnavutkoy        256
beyoglu           228
gungoren          221
zeytinburnu       191
bayrampasa        174
beykoz            148
sile               95
catalca            74
adalar             26
Name: count, dtype: int64

In [113]:
veri["tip"].value_counts()

tip
Daire            21511
Residence         1764
Villa              890
Bina               487
Müstakil Ev        328
Köşk                46
Yalı (Komple)       45
Çiftlik Evi         33
Yalı Dairesi        32
Yazlık              12
Dağ Evi              2
Devremülk            2
Kooperatif           1
Köy Evi              1
Prefabrik            1
Name: count, dtype: int64

In [114]:
veri["ilce"]=veri["ilce"].str.lower()
veri["ilce"].unique()

array(['adalar', 'arnavutkoy', 'atasehir', 'avcilar', 'bagcilar',
       'bahcelievler', 'bakirkoy', 'basaksehir', 'bayrampasa', 'besiktas',
       'beykoz', 'beylikduzu', 'beyoglu', 'buyukcekmece', 'catalca',
       'cekmekoy', 'esenler', 'esenyurt', 'eyupsultan', 'fatih',
       'gaziosmanpasa', 'gungoren', 'kadikoy', 'kagithane', 'kartal',
       'kucukcekmece', 'maltepe', 'pendik', 'sancaktepe', 'sariyer',
       'sile', 'silivri', 'sisli', 'sultanbeyli', 'sultangazi', 'tuzla',
       'umraniye', 'uskudar', 'zeytinburnu'], dtype=object)

In [115]:
veri["kredi"].value_counts()

kredi
Krediye Uygun          22197
Krediye Uygun Değil     2568
Bilinmiyor               390
Name: count, dtype: int64

In [116]:
veri["kredi"]=veri["kredi"].str.replace("Krediye Uygun Değil","degil")
veri["kredi"]=veri["kredi"].str.replace("Krediye Uygun","uygun")
veri["kredi"]=veri["kredi"].str.replace("Bilinmiyor","bilinmiyor")
veri["kredi"].value_counts()

kredi
uygun         22197
degil          2568
bilinmiyor      390
Name: count, dtype: int64

In [117]:
veri["oda_sayisi"].value_counts()

oda_sayisi
2+1       9752
3+1       6868
1+1       2046
4+1       1687
4+2       1148
3+2        642
5+2        597
5+1        589
8+ Oda     324
Stüdyo     263
6+2        233
6+1        180
1 Oda      169
2+2        161
3.5+1       87
7+2         72
4.5+1       55
2.5+1       48
7+3         42
7+1         41
5+3         41
6+3         37
1.5+1       32
2+0         14
5 Oda       13
6+4         10
5+4          4
Name: count, dtype: int64

In [121]:
# ilcelere göre ev ortalama fiyatları
veri.groupby("ilce")["fiyat"].mean()

ilce
adalar           8.095577e+06
arnavutkoy       1.254828e+06
atasehir         5.717714e+06
avcilar          1.488564e+06
bagcilar         6.197389e+06
bahcelievler     1.448017e+06
bakirkoy         6.684624e+06
basaksehir       2.457375e+06
bayrampasa       2.653253e+06
besiktas         2.263455e+07
beykoz           3.061407e+07
beylikduzu       3.099571e+06
beyoglu          4.765056e+06
buyukcekmece     4.287714e+06
catalca          5.096489e+06
cekmekoy         1.715376e+06
esenler          8.591019e+05
esenyurt         8.012613e+05
eyupsultan       2.074624e+06
fatih            2.785632e+06
gaziosmanpasa    1.324071e+06
gungoren         1.457787e+06
kadikoy          5.466239e+06
kagithane        3.803393e+06
kartal           2.797948e+07
kucukcekmece     1.415696e+06
maltepe          2.210909e+06
pendik           1.432552e+06
sancaktepe       1.283540e+06
sariyer          1.341739e+07
sile             2.570215e+07
silivri          9.223424e+06
sisli            8.784342e+06
sultanbeyli      1.091632e+06
sultangazi       8.784640e+05
tuzla            1.949194e+06
umraniye         1.709095e+06
uskudar          1.032212e+07
zeytinburnu      5.197288e+06
Name: fiyat, dtype: float64